<!DOCTYPE html>

<html ng-app="" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>图书管理系统</title>

    <script type="text/javascript" src="./js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui"></script>
    <link href="./css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
</head>
<script type="text/javascript">
    function login($scope, $http) {
        $scope.submit = function () {
            var user = {};
            user.userName = $scope.userName;
            user.password = $scope.password;
            if (!user.userName || !user.password) {
                alert("用户名和密码不能为空!");
                return;
            }

            $http({
                method: "POST",
                url: "/api/login",
                data: JSON.stringify(user),
                headers: {"Content-Type": "application/json"}
            }).success(function (data, status) {
                if (status != 200) {
                    return;
                }

                if (data) {
                    location.href = "zhuye.html";
                } else {
                    alert("用户登录失败!");
                }
            }).error(function (data, status) {
                alert("用户登录失败!")
            });
        };
    }
</script>

<body ng-controller="login">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3>
                图书销售推荐系统
            </h3><br/><br/><br/><br/>

            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span4">
                    <img alt="140x140" width="400" height="400" src="image/background.jpg"/>
                </div>
                <div class="span6">
                    <div class="row">&nbsp;<br><br><br><br><br></div>
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">用户名</label>

                                <div class="controls">
                                    <input id="inputEmail" type="text" ng-model="userName"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword">密码</label>

                                <div class="controls">
                                    <input id="inputPassword" type="password" ng-model="password"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn" ng-click="submit()">登陆</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
